<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>查询视频类别</title>
</head>
<body>
<form action="dologin.php" method="post">
<table>
  <thead>
    <tr>
            <th>序号</th>
            <th>视频类别名称</th>
            <th>操作</th>
    </tr>    
  </thead>    
  <tbody>    
     <tr>        
             <td>1</td> 
             <td>电影</td>
             <td>
                 <input type="button" name="修改" value="修改">
                 <input type="button" name="删除" value="删除">
             </td>    
     </tr>

     <tr>        
             <td>2</td> 
             <td>电视剧</td>
             <td>
                 <input type="button" name="修改" value="修改">
                 <input type="button" name="删除" value="删除">
             </td>    
     </tr>

     <tr>        
             <td>3</td> 
             <td>动画片</td>
             <td>
                 <input type="button" name="修改" value="修改">
                 <input type="button" name="删除" value="删除">
             </td>    
     </tr>

      <tr>        
             <td>4</td> 
             <td>原创</td>
             <td>
                 <input type="button" name="修改" value="修改">
                 <input type="button" name="删除" value="删除">
             </td>    
     </tr>

      <tr>        
             <td>5</td> 
             <td>其他</td>
             <td>
                 <input type="button" name="修改" value="修改">
                 <input type="button" name="删除" value="删除">
             </td>    
     </tr>

  </tbody>
</table>
</form>
</body>
</html>