<!DOCTYPE html>
<html>
<head>
<style>#pic{max-width:100px; max-height:100px}</style>
<meta charset="utf-8">
	<title>视频信息管理系统</title>
</head>
<body>
<img src="images/bj1.png" >  
<table align="center"style=" height: 400px;width:500px; " >
 <tr>
 <th>请输入视频名称</th>
 <td><input type="text"></td>
 <th><input type="button" name="搜索" value="搜索"></input></th>
 </tr>
<tr>
<th>序号</th>
<th>视频名称</th>
<th>类别</th>
<th>添加时间</th>
<th>海报</th>
<th>操作</th>
</tr>
<tr>
<th>1</th>
<th>代号47</th>
<th>电视剧</th>
<th>2016-03-21 20:06:03</th>
<th><img src="images/1.jpg" id="pic"></th>
<th>
	<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeEdit.php?tid=1">修改</a>

	<td>|</td>
	<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeDelete.php?tid=1">删除</a>
</th>
</tr>

<tr>
<th>2</th>
<th>烈日灼心</th>
<th>电影</th>
<th>2015-11-26 16:04:39</th>
<th><img src="images/2.jpg" id="pic"></th>
<th>
<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeEdit.php?tid=1">修改</a>
	<td>|</td>
	<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeDelete.php?tid=1">删除
	</td></a>
</th>
</tr>
<tr>
<th>3</th>
<th>我是奋青</th>
<th>电影</th>
<th>2015-11-26 16:04:57</th>
<th> <img src="images/3.jpg" id="pic"></th>
<th>
<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeEdit.php?tid=1">修改</a>
	<td>|</td>
	<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeDelete.php?tid=1">删除
	</td></a>
</th>
</tr>
<tr>
<th>4</th>
<th>暗杀教室</th>
<th>电影</th>
<th>2015-11-26 16:05:10</th>
<th><img src="images/4.jpg" id="pic"> </th>
<th>
<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeEdit.php?tid=1">修改</a>
		<td>|</td>
	<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeDelete.php?tid=1">
	删除</a>
</th>
</tr>
<tr>
<th>5</th>
<th>糟糕的夜晚</th>
<th>电影</th>
<th>2015-11-26 16:05:29</th>
<th> <img src="images/5.jpg" id="pic"></th>
<th>
<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeEdit.php?tid=1">
	修改</a>
	<td>|</td>
	<td>
	<a href="http://172.24.10.131/neuvideo/admin/typeDelete.php?tid=1">
	删除</a>
</th>
</tr>
</table>


</body>
<ml>